/* QUI CLASSI DEBUG */
body {
    background-color: red;
}
/* QUI CLASSI DEBUG */




/* STILI GENERALI DELLA PAGINA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.125em;
}

h1 {
    font-size: 5.75em;
    margin-bottom: 0.5em;
}

p{
    font-size: 1.2em;
    margin-bottom: 2em;
    max-width: 45ch;
}


/* Clearfix e destra e sinistra*/

.clearfix::after {
    content: "";
    clear:both;
    display: table;
}

.left {
    float:left;
}

.right {
    float:right;

}

/* Elementi di stile comuni a tutte le liste */

ul {
    list-style: none;
}

/* Elementi di stile comuni a tutti i link */

li a {
    text-decoration: none;
}

a.btn {
    text-decoration: none;
}

/* Bottoni */

.btn {
    background-color: #0061FF;
    color: #fff ;
    padding: 0.5em 1.125em;
    font-weight: 600;
    transition-duration: 0.4s;
}

.btn:hover {
    background-color: #297AFE;
}

/* STILIZZAZIONE HEADER E ELEMENTI INTERNI */

header {
    background-color: #b4d0e7;
}

header nav {
    position:sticky;
    z-index: 999;
    background-color: #ffff;
    top:0;
}


/* Elementi della lista di nav in riga */
nav ul li {
    display: inline-block;
}


/* Aumento area del link e stilizzazione testo */
nav ul li a{
    display: inline-block;
    height: 100%;
    margin: 0 1em;
    padding: 2em 1em;
    color: #000;
    border-bottom: 5px solid #fff;
}

/* Elemento unico di hover nel nav --- tranne che per il bottone */
nav ul li a:not(.btn):hover{
    border-bottom: 5px solid #0061FF;
}

/* Allineamento verticale e stilizzazione logo */
#logo {
    vertical-align: middle;
    padding-left: 2em;
}


/* Stilizzazione jumbotron */

.jumbotron {
    width: 85%;
    margin:auto;
    padding: 6em 0;
}

.desc {
    width: 40%;
}

.jumbotron .img-container {
    width:60%;
    position:relative;
}

.img-container img{
    width:100%;
    position:absolute;
}

.desc .thinner {
    display: block;
    margin: 1em 0;
    font-weight: 500;
    font-size: 0.9em;
}

.desc .fa-arrow-down {
    margin-top: 1em;
    font-size: 3em;
}