/* SOTTO CLASSI DEBUG */

/*   */

/* SOPRA CLASSI DEBUG */




/* STILI GENERALI DELLA PAGINA */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1em;
}

.wrapper {
    width: 70%;
    margin: auto;
}

section {
    margin-bottom: 10em;
}

h1 {
    text-align: left;
    font-size: 5.75em;
    margin-bottom: 0.5em;
}

h2 {
    text-align: left;
    font-size: 3em;
    margin-bottom: 0.5em;
}

h3 {
    text-align: left;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

p{
    text-align: left;
    font-size: 1.2em;
    margin-bottom: 2em;
    max-width: 45ch;
}


/* Clearfix e destra e sinistra*/

.clearfix::after {
    content: "";
    clear:both;
    display: table;
}

.left {
    float:left;
}

.right {
    float:right;

}

/* Elementi di stile comuni a tutte le liste */

ul {
    list-style: none;
}

/* Elementi di stile comuni a tutti i link */

li a {
    text-decoration: none;
}

a.btn {
    text-decoration: none;
}

a {
    color: #0061FF;
}

a.a--alt {
    color:#000;
}

/* Bottoni */

.btn {
    background-color: #0061FF;
    color: #fff ;
    padding: 0.5em 1.125em;
    font-weight: 600;
    transition-duration: 0.4s;
}

.btn--expanded {
    display:block;
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
}

.btn--alt {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.btn--lg {
    background-color: #d3d3d3;
}

.btn.btn--alt:hover {
    background-color: #d3d3d3;
}

.btn:hover {
    background-color: #297AFE;
}

/* STILIZZAZIONE HEADER E ELEMENTI INTERNI */

header {
    background-color: #b4d0e7;
}

nav {
    position:sticky;
    z-index: 999;
    background-color: #ffff;
    top:0;
}


/* Elementi della lista di nav in riga */
nav ul li {
    display: inline-block;
}


/* Aumento area del link e stilizzazione testo */
nav ul li a{
    display: inline-block;
    height: 100%;
    margin: 0 1em;
    padding: 2em 1em;
    color: #000;
    border-bottom: 5px solid #fff;
}

/* Elemento unico di hover nel nav --- tranne che per il bottone */
nav ul li a:not(.btn):hover{
    border-bottom: 5px solid #0061FF;
}

/* Allineamento verticale e stilizzazione logo */
#logo {
    vertical-align: middle;
    padding-left: 2em;
}


/* Stilizzazione jumbotron */

.jumbotron {
    width: 85%;
    margin:auto;
    padding: 7em 0;
}

.desc {
    width: 40%;
}

.jumbotron .img-container {
    width:60%;
    position:relative;
}

.img-container img{
    width:100%;
    position:absolute;
}

.desc .thinner {
    display: block;
    margin: 1em 0;
    font-weight: 500;
    font-size: 0.9em;
}

.desc .fa-arrow-down {
    margin-top: 1em;
    font-size: 3em;
}

/* FINE HEADER */

/* Elementi main */

main {
    margin: 15em 0 10em;
}


/* Radio button */
.radio::before {
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    vertical-align: middle;
    cursor:pointer;
}

.radio--checked::before {
    box-sizing: border-box;
    content: "";
    display: inline-block;
    height: 1.3em;
    width: 1.3em;
    border-radius: 50%;
    background-color: #ffffff;
    border: 6px solid #0061FF;
    vertical-align: middle;
    cursor:pointer;
}

.radio,
.radio--checked {
    line-height: 1.3em;
    padding-right: 1em;
}

/* Sezioni offerte */

.plans .box {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Margini diversi per ogni rettangolo */
.plans .box.third:nth-child(1) {
    margin-right: 2em;
}

.plans .box.third:nth-child(2) {
    margin-left: 2em;
    margin-right: 2em;
}

.plans .box.third:nth-child(3) {
    margin-left: 2em;
}

/* Dimensioni colonne */
.third {
    width: calc((100% - 8em) / 3 );
    min-height: 1300px;
}

.full {
    width: 100%;
}

.box .title{
    text-align: center;
    padding: 1em 0;
    border-bottom: 1px solid #d3d3d3;
}

.box .info {
    padding: 1.5em;
}


span.gray {
    display: block;
    margin: 1em 0;
    color: #808080;
}


/* Font awesome ul list */
ul.fa-ul{
    font-size: 0.975em;
    margin-left: 1.5em;
    list-style-position: inside;
    margin-top: 4em;
    margin-bottom: 4em;
}

ul.fa-ul li{
    margin-bottom: 1.2em;
}

.border {
    border-bottom: 1px solid #d3d3d3;
    width: 4em;
    margin: 2em 0;
}

.fa-check {
    color:#0061FF;
}

/* Dimensioni riga */
.full .info .left {
    width: 75%;
}

.full .info .left div {
    margin-top: 2em;
}

.full .info .right {
    width: 25%;
}

/* SEZIONE PARTNER */

section.partner .left {
    width: 60%;
}

section.partner .left img{
    width: 100%;
}

section.partner .right {
    width: calc(40% - 4em);
}

/* Sezione operazioni */

/* Margini diversi per ogni carta */
.row .card{
    width: calc((100% - 8em ) / 3);
}

.row .card img{
    width: 100%;
}

.row .card:nth-child(1) {
    margin-right: 2em;
}

.row .card:nth-child(2) {
    margin-left: 2em;
    margin-right: 2em;
}

.row .card:nth-child(3) {
    margin-left: 2em;
}


/*  */